SECRET_KEY=django_secret_key
ALLOWED_HOSTS=localhost, 127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost, http://127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

# Business-logic
WALLET_NAME_SYM_COUNT=8
BANK_BONUS_RUB=100.00
BANK_BONUS_USD=3.00
BANK_BONUS_EUR=3.00
MAX_USER_WALLET_COUNTER=5
COMMISSION_COEFF=0.10
